body {
    background: #295872;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 250px;
  }
input[type=text], input[type=password] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #357599;
    box-sizing: border-box;
  }
form {border:2px solid gainsboro; background-color: white; border-radius: 12px;} 
 .login {
    padding: 20px 50px;
  }
.container {
    padding: 0px 50px; border-style: none;
  }			
.proximo{
    background-color: #357599;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    width: 190px;
    font-size: 15px;
  }
.proximo:hover{
    background-color: #1d5e82;
  }
.fld{
    background-color: white;
    color: dodgerblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 215px;
    margin-right: 25px;
    margin-top: 30px;
    font-size: 15px;
  }
.fld:hover{
    background-color: #f0f1f2;
    color: navy;
  }
.sub1{
    font-size: 15px;
    color: gray;
    padding: 0px 52px;
  }
.sub2{
    font-size: 15px;
    color: gray;
    padding: 0px 10px; 
    text-align: justify;
  }
.Nome{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #357599;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 40px;
  }
.Sobrenome{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #357599;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
.NomeUsuario{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #357599;
    box-sizing: border-box;
  }
.Senha{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #357599;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 50px;
  }
.Senha2{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #357599;
    box-sizing: border-box;
    margin-top: 30px;
  }
.white-right{
	text-decoration: none; 
	color: white; 
	margin-right: 40px;
}
.white{
	text-decoration: none;
	color: white;
}
.footerstyle{
	text-align: right;
    padding: 15px 5px;
    color: black;
    font-size: 15px;
}
