@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body* {
    box-sizing: border-box;
    margin: 20;
    font-family: 'Open Sans', sans-serif;
}

#header {
  padding: 30px;
  text-align: center;
  background: white;
  font-size: 50px;
}

#textosecundario {
  font-size: 20px;
}

#column {
  width: 100%
}

#leftcolumn {   
  float: left;
  width: 75%;
}

#rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

#fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

#card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

#row:after {
  content: "";
  display: table;
  clear: both;
}

#footer {
  padding: 30px;
  background: white;
  margin-top: 20px;
}
/* teste*/
#topnav {
  overflow: hidden; 
  background-color: #333;
}

#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

#topnav a:hover {
  background-color: #ddd;
}
/* teste*/
#menu-h ul{
    list-style: none;
    overflow: hidden;
    padding: 0px;
    background-color: black;
}

#menu-h ul li{
    display: inline;
    transition: background .4s;
}

#menu-h ul li a{
    color: #fff;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
}

#menu-h ul li:hover{
    background-color: #67a8cd;
}

.active {
    background-color: #357599;
    display: inline-block;
}

#menu-footer ul{
  list-style: none;
  overflow: hidden;
  padding: 0px;
  background: #ddd;
}

#menu-footer ul li{
  display: inline;
}

#menu-footer ul li a{
  color: #fff;
  padding: 30px;
  text-decoration: none;
  display: inline-block;
}


/* Layout responsivo*/
@media screen and (max-width: 800px) {
  #leftcolumn, #rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  #menu-h ul li a {
    float: none;
    width: 100%;
  }
}
/* Login*/

.input[type=text], .input[type=password] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}