.final {
  background-color: #383838;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

.cad {
  padding-top: 20px;
  padding-left: 15vw;
  padding-right: 15vw;
}

.ad {
  padding-left: 15wv;
  padding-right: 15vw;
}

.mano {
  color: white;
  font-family: "Bebas Neue";
}

.login {
  padding-top: 70px;
  padding-bottom: 35px;
  background-color: #382858;
}

.titulo {
  color: #e7e7e7;
  font-family: "Bungee";
  font-size: 4vw
}

.aaa {
  color: white;
}

.star {
  padding-top: 40px;
  color: black;
  font-family: "Bungee";
  font-size: 4vw
}

@media only screen and (max-width: 1000px) {
  .star {
    font-size: 6vw
  }
  .cad {
    padding-left: 05vw;
    padding-right: 05vw;
  }
  .titulo {
    font-size: 6vw
  }
}
