.final {
  background-color: #383838;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

.cad {
  padding-top: 15px;
}

.cadn {
  padding-left: 15vw;
  padding-right: 15vw;
}

.banner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #382858;
}

.bg-create {
  color: #e7e7e7;
  font-family: "Bungee";
  font-size: 4vw
}

.titulo {
  color: white;
}

.star {
  padding-top: 30px;
  font-size: 60px;
  font-family: "Bebas Neue";
}

@media only screen and (max-width: 1000px) {
  .bg-create {
    font-size: 6vw
  }
}
