/* .carousel-caption { */
  /*   top: 35%; */
/* } */





  .meu {
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }



  .final {
    background-color: #383838;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
  }

  .login {
    padding: 20px;
  }



  .feat {
    padding-top: 100px;
    font-size: 70px;
    color: white;
    font-family: "Bebas Neue";
  }

  .bullets {
    font-size: 70px;
    color: white;
  }



  .mano {
    padding-bottom: 40px;
  }


  .featur {
    display: block;
    margin-bottom: 100px;
  }

  .cv {
    background-color: #d1c0f6;
    padding-bottom: 90px;
  }

  .sn {
    padding-top: 100px;
    font-size: 70px;
    color: #29203b;
    font-family: "Bebas Neue";
  }










  /* /**/  
  /* HOME */
  .banner {
    background-color: #382858;
    padding-bottom: 200px;
    padding-top: 200px;
  }

  /* .btn { */
  /* font-size: 10vw; */
  /* font-family: "Bebas Neue"; */
  /* padding-bottom: 100px; */
/* } */

  .bg-elysian {
    color: white;
    font-family: "Bungee";
    font-size: 10vw;
  }

  .bg-welcome {
    color: #e7e7e7;
    font-family: "Bungee";
    font-size: 4vw;
  }

  /* ABOUT */
  .about {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .about-content {
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .sobre {
    font-size: 80px;
    font-family: "Bebas Neue";
  }

  /* Functions */
  .features {
    background-color: #3c3836;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .functions {
    padding-left: 50px;
    padding-right: 50px;
  }

  .func-tt {
    color: #f9f5d7;
  }

  /* .functions { */
  /* style="width: 1500px; */
/* } */

  /* Footer */
  .link {
    color: #6e6387;
  }

  /* Regra aplicada se a tela tiver menos do que 1000px */
  @media only screen and (max-width: 1000px) {
    .about-content {
      margin: 10px;
    }

    .bg-elysian {
      font-size: 14vw;
    }

    .bg-welcome {
      font-size: 6vw;
    }

    .kkk {
      /* height: 100vw; */
      width: 400px;
      line-break:auto;
      /* padding:0% */
      /* padding: 0px; */
      /* display: inline-block; */
      /* float: none; */
      /* vertical-align: top; */
  }
